<div id="settings" class="clearfix" ng-controller="Settings">
	<div><label for="">Количество клиентов из базы: <input type="text" value="{{settings.clients_count}}"></label></div>
	<div><label>Количество циклов возражений: <input type="text" value="{{settings.objections_count}}"></label></div>
	<div><label>Количество вопросов из базы: <input type="text" value="{{settings.questions_count}}"></label></div>
	<div><label>Количество циклов возражений: <input type="text" value="{{settings.objections_count}}"></label></div>
</div>