<div id="clients" class="clearfix" ng-controller="Clients">
	<ul id="client_list" class="clearfix">
		<li ng-repeat="client in clients">
			<a href="#/clients/{{client.id}}">
				<img src="/avatars/{{client.avatar}}" alt="{{client.name}}">
				{{client.id}}
			</a>
		</li>
	</ul>
	<div class="left half">
		<label class="list_title" for="">Список возражений</label>
		<ul class="radius_list">
			<li ng-repeat="objection in current_client.objection_list">{{objection.id}}. {{objection.text}}</li>
			<li ng-click="modal.toggle(objections, 'current_client.objection_list');">Изменить</li>
		</ul>
		<ul>
			<li class="add">
				<a href="#/clients/{{clients[clients.length-1].id+1}}">Добавить</a>
			</li>
			<li class="delete" ng-click="delete();">Удалить</li>
			<li class="save" ng-click="save();">Сохранить</li>
		</ul>
	</div>
	<div class="right half">
		<div class="info">
			<label for="">ID клиента: {{current_client.id}}</label>
			<div class="bordered" autoinput="current_client.name" placeholder="ФИО"></div>
			<div class="bordered" autotextarea="current_client.introduction_text" placeholder="Вступительное слово менеджера"></div>
			<div class="bordered" autotextarea="current_client.closing_text" placeholder="Завершающее возражение"></div>
			<div class="bordered" autotextarea="current_client.right_closing_text" placeholder="Заключительное слово положительное"></div>
			<div class="bordered" autotextarea="current_client.wrong_closing_text" placeholder="Заключительное слово отрицательное"></div>
			<label>Лояльность: </label><select ng-model="current_client.loyalty" ng-options="value for value in loyalties"></select>
			<div class="bordered" autotextarea="current_client.right_final_question | number"></div>
		</div>
		<label class="list_title">Вопросы к финальному возражению с признаком верности</label>
		<ul class="radius_list">
			<li ng-repeat="final_question in current_client.final_questions">{{final_question.id}}. {{final_question.text}}</li>
			<li ng-click="modal.toggle(final_questions, 'current_client.final_questions');">Изменить</li>
		</ul>
	</div>
	<div class="overlay" ng-show="modal.is_visible"></div>
	<div class="modal" ng-show="modal.is_visible">
		<label ng-repeat="object in modal.big_data">
			<input type="checkbox" ng-checked="modal.tiny_data._find(object.id, 'id')!==-1;" ng-click="modal.tiny_data._change(object, 'id');">{{object.id}}. {{object.text}}
		</label>
		<button ng-click="modal.save();">Сохранить</button><button ng-click="modal.toggle();">Закрыть</button>
	</div>
</div>