<div id="objections" class="clearfix" ng-controller="Objections">
	<ul class="menu">
		<li class="add">
			<a href="#/objections/{{last_ids.objections+1}}"></a>
		</li>
		<li class="delete" ng-click="delete();"></li>
		<li class="save" ng-click="save();"></li>
	</ul>
	<div class="left half">
		<ul class="bordered_list">
			<li ng-repeat="objection in objections" ng-class="objection.id==$parent.current_objection.id && 'selected'">
				<a href="#/objections/{{objection.id}}">{{objection.id}}. {{objection.text}}</a>
			</li>
		</ul>
	</div>
	<div class="right half">
		<label>Тип возражения:: </label><select ng-model="current_objection.type" ng-options="key as value for (key, value) in types"></select>
		<div class="bordered" autotextarea="current_objection.text" placeholder="Текст"></div>
		<div class="bordered" autotextarea="current_objection.right_comment" placeholder="Комментарий тьютора при верном ответе"></div>
		<div class="bordered" autotextarea="current_objection.wrong_comment" placeholder="Комментарий тьютора при неверном ответе"></div>
		<label class="list_title">Список вопросов</label>
		<ul class="radius_list">
			<li ng-repeat="question in current_objection.question_list">{{question.id}}. {{question.text}}</li>
			<li ng-click="modal.toggle(questions, 'current_objection.question_list')">Изменить</li>
		</ul>
	</div>
	<div class="overlay" ng-show="modal.is_visible"></div>
	<div class="modal" ng-show="modal.is_visible">
		<label ng-repeat="object in modal.big_data">
			<input type="checkbox" ng-checked="modal.tiny_data._find(object.id, 'id')!==-1;" ng-click="modal.tiny_data._change(object, 'id');">{{object.id}}. {{object.text}}
		</label>
		<button ng-click="modal.save();">Сохранить</button><button ng-click="modal.toggle();">Закрыть</button>
	</div>
</div>