span, div, label, li, ul {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
body {
	width: 1000px;
	margin: 0 auto;
}
body>div {
	display: none;
}
body>div:first-of-type {
	display: block;
}
#modal_dialog {
	position: absolute;
	left: 50%;
	margin-left: -25%;
}
.person-column {
	width: 46%;
	float: left;
	margin: 0 2%;
	background-color: #c2c2c2;
}
.person-objections>li {
	margin: 5px 5px;
	border: 1px solid black;
	border-radius: 5px;
}
#menu>li {
	float: left;
	width: 25%;
	text-align: center;
	background-color: green;
}
#menu {
	clear: both;
}
body>div {
	display: non: ;e;
}
body>div:first-of-type {
	display: block;
}
.questions-questions {
	width: 100%;
}
.questions-questions.clicked {
	width: 45%;
	border: 1px solid black;
	margin: 4%;
}



.objections-objections {
	width: 45%;

	margin: 4%;
	border: 1px solid black;
}